<main>
	<h2>Handmade, Fresh, Daily!</h2>

		
		{{#each donuts}}
		<span>Donut ID: {{this._id}}</span>
		<strong>{{this.name}}</strong>
		<span>{{this.description}}</span>

			<div class="donut-container">

				<img src="http://cdn.phillymag.com/wp-content/uploads/2013/09/donut.png" alt="Sprinkles">

				<h3>   <a href="/donuts/{{this._id}}">View Donut</a>  </h3>

				<p>{{this.price}} </p>

			</div>

		{{/each}}

		<a href="/donuts/new">Add a New Donut</a>


</main>
