<main>

	<h2>You are viewing:

		<div>Name: {{donuts.name}}</div>

	</h2>

	<a href="/">Return to Home Page</a>

	<div class="donut-container-show">
		<h2 id="donut-name">

		<div>Name: {{donuts.name}}</div>

		</h2>

		<img src="http://cdn.phillymag.com/wp-content/uploads/2013/09/donut.png" alt="Sprinkles">

		<br>
		<h3>Description:</h3>
			<p>

				<span>{{this.description}}</span>


			</p><br>
		<h3>Price:</h3>
			<p id="cost">$

				<p>{{this.price}} </p> </p><br>

			<h3 id="quantity">

	 				<div>{{this.qty}}</div>

			</h3>

			<br>

			<a href="/donuts/{{donuts._id}}/edit">Edit</a>

			<<<< BONUS: BUTTON THAT UPDATES THE COUNT >>>>

		</div>

		 <form action="/donuts/{{donuts._id}}?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
    </form>
</main>
