<h3> {{Pirates}} </h3>
<li>birthplace: {{birthplace}}</li>
    <li>death_year: {{death_year}}</li>
    <li>base: {{base}}</li>
    <li>nickname: {{nickname}}</li>

    <a href="/pirates/new"> new pirates </a>